body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::before,
h1::after {
  content: "";
  background: #4a90e2;
  display: inline-block;
  position: absolute;
  height: 27px;
  width: 27px;
}

h1::before {
  position: relative;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  margin-right: 10px;
}

h1::after {
  position: relative;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-left: 10px;
}
